# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
lib/build/
*.so

# Models (too large for git)
models/
data/

# Images
images/
images_det/

# Docker
.dockerignore

# Env
.env
*.env

# Logs
*.log

# OS
.DS_Store
